h1{
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    color: yellow;
    text-shadow: 3px 3px 3px black;
}

h2{
    text-align: center;
    color: ivory;
}
li{
    display: block;
    border: 1px solid yellow;
    background-color: yellow;
}
html{
    background-color: ivory;
}

body{
    border: 5px solid yellow;
    background-color: darkgreen;
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}

img{
    margin: 0 auto;
    display: block;
}